body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    margin: 40px auto;
    max-width: 460px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
}

h3{
    color: #757575;
} 

p{
    font-size: 18px;
   color: #7a7979;
}

#more {display: none;}

.btn{
    font-family: 'PT Sans', sans-serif;
    border: none;
    background-color: #f0f0f0;
    color: #919191;
    padding: 5px 7px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    min-width: 120px;
}

#myBtn:hover{
    color: #fff;
    background-color: #bbbbbb;
    transition: 0.4s;
}

.container-info{
    margin-bottom: 30px;
}

.container-artist__details{
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    padding: 0px 15px 30px;
    background-color: #fafafa;
}

.container-artist__details p{
    margin: 0px 0px 7px;
}

.container-artist{
    display: none;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}